<div id="submit-picks" *ngIf="!showFinishedMessage()">
  <form>
    <h3>Almost done! Who are these awesome picks for?</h3>
    <div class="form-group">
      <label for="submit-picks-name">Name</label>
      <input [(ngModel)]="entry.name" name="submit-picks-name" id="submit-picks-name" class="form-control" />
    </div>
    <div class="form-group">
      <label for="submit-picks-email">Email</label>
      <span id="email-optional" class="help-block">(If you want to send yourself a copy)</span>
      <input [(ngModel)]="entry.email" name="submit-picks-email" id="submit-picks-email" class="form-control" aria-describedby="email-optional" />
    </div>
    <button id="submit" type="submit" class="btn btn-info" (click)="submitPicks()" [disabled]="submittingPicks">Send to Jared</button>
  </form>
</div>

<div *ngIf="showFinishedMessage()" id="finished-message" class="panel panel-default text-center">
  <h2>All done!</h2>
  <h2>Go {{entry.topPick().name}}!!!</h2>
  <div>
    <app-mascot-image [mascot]="entry.topPick()"></app-mascot-image>
  </div>
</div>
