<select (change)="changeYear($event.target.value)">
  <option *ngFor="let year of years" [value]="year" [selected]="year == selectedYear">{{year}}</option>
</select>

<div class="tags">
  <ul class="list-unstyled">
    <li *ngFor="let tag of tags">
      <label>
        <input type="checkbox" [(ngModel)]="tag.selected" />
        {{tag.name}}
      </label>
    </li>
  </ul>
</div>

<div class="selectedMascots">
  Selected Mascots
  <ol>
    <li *ngFor="let mascot of selectedMascots()">
      {{mascot.school}} {{mascot.name}}
      <a (click)="unselectMascot(mascot)">X</a>
    </li>
  </ol>
</div>

<div class="selectableMascots">
  <ul class="list-unstyled">
    <li *ngFor="let mascot of selectableMascots()">
      <div class="mascot-card" (click)="selectMascot(mascot)">
        <img src="{{mascotImagePath}}{{mascot.imageFileName()}}" class="img-responsive" />
        <div class="info text-center">
          <div class="school">{{mascot.school}}</div>
          <div class="name">{{mascot.name}}</div>
          <div class="tag label label-default">{{mascot.tag}}</div>
        </div>
      </div>
    </li>
  </ul>
</div>
