<nav class="navbar navbar-static-top navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">
        March Madness Masc<img alt="Brand" src="/assets/images/basketball.png" />ts
      </a>
    </div>

    <form class="navbar-form navbar-right">
      <label for="year-select" class="sr-only">Select Year</label>
      <select id="year-select" (change)="changeYear($event.target.value)" class="form-control">
        <option *ngFor="let year of years" [value]="year" [selected]="year == selectedYear">{{year}}</option>
      </select>
    </form>
  </div>
</nav>

<div id="main">
  <div id="selectable-mascots">
    <ul class="list-unstyled row">
      <li *ngFor="let mascot of selectableMascots()">
        <div class="mascot-card" (click)="selectMascot(mascot)">
          <img src="{{mascotImagePath}}{{mascot.imageFileName()}}" class="img-responsive" />
          <div class="info text-center">
            <div class="school">{{mascot.school}}</div>
            <div class="name">{{mascot.name}}</div>
            <div class="tag label label-default">{{mascot.tag}}</div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<div id="sidebar">
  <div class="fixed-container">
    <div id="search-tools" class="form">
      <div class="tags form-group">
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
            Categories
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li *ngFor="let tag of tags">
              <label>
                <input type="checkbox" [(ngModel)]="tag.selected" class="form-control" />
                {{tag.name}}
              </label>
            </li>
          </ul>
        </div>
      </div>

      <div class="search form-group">
        <label for="search-box" class="sr-only">Search</label>
        <input id="search-box" #searchBox placeholder="Search" (keyup)="search(searchBox.value)" class="form-control" />
      </div>
    </div>

    <div id="selected-mascots">
      Ranks:
      <ol>
        <li *ngFor="let mascot of selectedMascots">
          {{mascot.school}} {{mascot.name}}
          <a (click)="unselectMascot(mascot)"><span class="glyphicon glyphicon-remove"></span></a>
        </li>
      </ol>
    </div>
  </div>
</div>
