@import "../../node_modules/bootstrap/less/variables";
@import "../../node_modules/bootstrap/less/mixins";
@import "../../node_modules/bootstrap/less/grid";

#sidebar {
  .fixed-container {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    height: 85%;
  }
}
